Hi {{ name }},
Your expression of interest submission has been successfully sent. Your application will undergo a review by our comittee and you will be notified of the outcome.</p>
Thank you,
The Tilde team
