<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=us-ascii" />
  <title>Tilde New Music and Sound Art</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body style="margin:0; padding:0;">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0; background-image:url('http://www.tilde.net.au/wp-content/themes/travelify/images/background.png');">
    <tr>
      <td align="center">
        <table width="100%" style="width:100%; max-width:900px; background-color: #fff; padding: 40px 30px; bgcolor=" #FFFFFF"> <tr bgcolor="#FFFFFF">
          <td><a href="http://www.tilde.net.au/"><img src="http://www.tilde.net.au/wp-content/uploads/2015/01/header1018-01.jpg" alt=Tilde new music and sound art" style="display:block;width:100%;max-width:900px;" />
        </a>
      </td>
    </tr>
  </table>
  </td>
  </tr>
  <tr>
    <td align="center">
      <table border="0" cellpadding="10" cellspacing="0" style="width:100%;max-width:900px;background-color:#fff;text-align:left;" bgcolor="#FFFFFF">
        <tr>
          <td align="center">
            <h1 style="font-family:monospace; font-size:14pt; font-weight:bold; margin-bottom:20p">Confirmation</h1>
          </td>
        </tr>
        <tr>
          <td>
            <p style="font-family: monospace; color:#000; margin-left:40px">Hi {{ name }},</p>
            <p style="font-family: monospace; color:#000; margin-left:40px">Your expression of interest submission has been successfully sent. Your application will undergo a double-blind peer-review by our comittee and you will be notified of the outcome.</p>
            <p style="font-family: monospace; color:#000; margin-left:40px">Thank you,
              <br /> The Tilde team</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td align="center">
      <table border="0" cellpadding="0" cellspacing="0" style="width:100%; max-width:900px;">
        <tr bgcolor="#FFFFFF" style="padding:0; margin:0">
          <td><img src="http://www.tilde.net.au/wp-content/uploads/2013/11/Tilde-sonogram-e1406539567234.jpg" style="width:100%; max-width:900px;" /></td>
        </tr>
      </table>
    </td>
  </tr>
  </table>
</body>

</html>
