Hi {{ name }},
Your expression of interest submission has been successfully sent for your project "{{ project_title }}". Your application will undergo a review by our committee. We will endeavour to get back to you within 3 weeks from close. If you haven't heard back from us by Nov 23, please send us an email.
Thank you,
The Tilde team
